.lista-navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.lista-navegacion{
    list-style-type: none;
    display: flex;
    gap: 35px;
    justify-content: center;
    font-weight: bold;
    text-transform: capitalize;
}

.lista-navegacion li a{
    text-decoration: none;
    color: antiquewhite;
}

.logo-fitness{
    width: 200px;
    height: 150px;
}
/*
.dropdown-item{
    color: black;
}
*/

body{
    background-color: rgb(10, 9, 9);
    background-image: url(../img/rustico2.jpg)
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}



/* inicio index*/
.video-fitness{
    width: 1320px;
    height: 500px;
} 

h1{
    text-align: center;
    color: rgb(80, 0, 0);
    font-family: impact, sans-serif;
    font-size: 40px;
}

h2{
    text-align: center;
    color: rgb(80, 0, 0);
    font-family: impact, sans-serif;
    font-size: 40px;
}

p{
    color: antiquewhite;
    text-align: center;
}

.programa-fitness{
    width: 300px;
    height: 200px;
    margin: 10px;
}
/* fin de index*/


/* inicio de programas*/
.tabla-rutina{
    color: antiquewhite;
    margin: 70px;
    font-family: impac, sans-serif;
}
/* fin de programas*/


/* inicio seccion de nutricion */
.imagen-1{
    width: 600px;
    height: 500px;
    transform: translate(730px);
}

.parrafo{
    width: 50%;
    margin: 20px auto;
    background-color: rgb(26, 27, 31);
    color: #fff;
    padding: 15px;
}
.parrafo{
    display: inline-block;
    vertical-align: top;
    transform: translate(-600px);
}

.imagen-2{
    width: 600px;
    height: 500px;
    margin: 5px;
}

.parrafo2{
    width: 50%;
    margin: 20px auto;
    background-color: rgb(26, 27, 31);
    color: #fff;
    padding: 15px;
}

.parrafo2{
    display: inline-block;
    vertical-align: top;
    transform: translate(10px);
}

.imagen-3{
    width: 600px;
    height: 550px;
    transform: translate(730px);
}

.parrafo3{
    width: 50%;
    margin: 20px auto;
    background-color: rgb(26, 27, 31);
    color: #fff;
    padding: 15px;
}

.parrafo3{
    display: inline-block;
    vertical-align: top;
    transform: translate(-600px);
}
/* fin seccion de nutricion */


/* inicio de calculadora */
.cal-kcal{
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* fin de calculadora*/


/* inicio de contacto */
.contacto-1{
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* fin de contacto */


/* inicio de pie*/
.pie-final{ 
    color: white;
    background-color: rgb(0, 0, 0);
}
/* fin de pie*/

/* MOBILE FIRST DE INDEX */
#gridKevin{
    display: grid;
    grid-template-areas: 
    "navegacion"
    "inicio"
    "programas"
    "footer";
}

#inicio{
    grid-area: inicio;
}

.lista-navegacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    #gridKevin{
        grid-template-areas: 
        "navegacion navegacion navegacion"
        "inicio incio inicio"
        "programa programa programas"
        "footer footer footer";
    }
    .lista-navegacion{
        flex-direction: row;
    }
    }


#programas{
    grid-area: programas;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:768px) {
    #programas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        display: inline;
    }
    
}

@media (min-width:1024px) {
    #programas{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        display: inline;
    }
    
}

#footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:768px) {
    #footer{
        flex-direction: row;
        justify-content: flex-start;
        display: inline;
    }
    
}

.logo-fitness{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    max-width: 100%;
}

.video-fitness{
    max-width: 100%;
}
/* FIN DE MOBILE FIRST */

/* MOBILE FIRST DE PROGRAMAS */
#seccionPro{
    display: grid;
    grid-template-areas: 
    "navegacion"
    "programas"
    "rutinas"
    "footer";
}

header{
    grid-area: navegacion;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    #seccionPro{
        grid-template-areas: 
        "navegacion navegacion navegacion"
        "programa programa programas"
        "rutinas rutinas rutinas"
        "footer footer footer";
    }
    .lista-navegacion{
        flex-direction: row;
    }
    }

#seccionPro{
    grid-area: programas;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rutinas{
    grid-area: rutinas;
}

#footer{
    grid-area: footer;
}
